
body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 1430px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;
    background: linear-gradient(180deg, #05000c, #5e2c2c);
    ;
  }

  .cursor{
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    z-index: 3;
    pointer-events: none;
  }

  .cursor::after{
    content: "";
    width: 20px;
    height: 20px;
    border: 8px solid aqua;
    border-radius: 50%;
    opacity: .5;
    position: absolute;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
  }

  @keyframes cursorAnim{
    from {
      transform: scale(1);
    }
    to {
      transform: scale(.7);
    }
  }

  @keyframes cursorAnim2{
    from {
      transform: scale(1);
    }
    to {
      transform: scale(.4);
    }
  }

  @keyframes cursorAnim3{
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(3);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid red;
  }

  .Background-image {
    position: fixed;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
  }

  .navbar {
    background-color: rgb(29, 29, 33);
    position: top;
    position: fixed;
    width: 100%;
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    z-index: 2;
    margin: 0 -20px;
  }

  .navbar-brand .logo {
    width: 250px;
    height: 150px;
    image-resolution: 500px;
  }

  .navbar-brand {
    color: #1e0e0e;
    text-decoration: none;
  }

  .navbar-brand:hover {
    color: #ffffff;
    transform: none;
  }

  nav a {
    color: #c20931;
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
    margin-right: 40px;
    transition: background-color 0.3 ease;
  }

  nav a:hover,
  nav a.active {
    color: #b40b40;
    transform: scale(1.2);
  }

  .hero {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 60px 20px;
  }

  .hero .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .hero h1 {
    font-size: 30px;
    margin-top: 10%;
  }

  .hero h2 {
    font-size: 50px;
    margin: 0;
    padding: 5px 0;
  }

  .hero h3 {
    font-size: 30px;
    margin: 0;
    padding: 5px 0;
  }

  .highlight {
    color: #af1227;
  }

  .hero p {
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
  }

  .social-icons {
    margin-top: 20px;
    width: 100%;
    margin: 0 5px;
    padding: 5px 0;
    
  }

  .social-icon {
    color: #e22333;
    display: flexbox;
    gap: 20px;
    font-size: 30px;
    margin: 0 5px;
  }

  .social-icon:hover {
    color: #ff0004;
    transform: scale(1.1);
  }

  .btn {
    background-color: #e87878;
    color: #0d0719;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    box-shadow: 3px 3px 6px;
    font-size: 16px;
    margin:15px 0;
  }

  .btn:hover {
    background-color: #f80404;
    transform: scale(1.1);
    transition: background-color 0.3 ease;
  }

  .row{
    display: flex;
  }

  .col {
    margin: 100px ;
  }

  .image-container {
    position: relative;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff4b, #ffffff16);
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  .image-circle {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff57, #ffffff06);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
  }

  .profile-img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    display: flex;
    object-fit: cover;
    position: absolute;
  }

  .about-me {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 20px;
  }

  .about-image-container {
    position: relative;
    width: 420px;
    height: 420px;
    border-radius: 15%;
    background: linear-gradient(145deg, #ffffff57, #ffffff06);
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .about-image-circle {
    width: 420px;
    height: 420px;
    border-radius: 15%;
    background: linear-gradient(145deg, #ffffff57, #ffffff06);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
  }

  .profile-img-a {
    width: 400px;
    height: 400px;
    border-radius: 15%;
    position: relative;
    display: flex;
    object-fit: cover;
    position: absolute;
  }

  .about-me h2 {
    font-size: 30px;
    margin-left: 70px;
    margin-top: 100px;
  }

  .about-me h3 {
    font-size: 20px;
    margin-left: 70px;
    margin-top: 20px;
  }

  .about-me p {
    font-size: 16px;
    margin-left: 70px;
    margin-top: 20px;
    width: 70%;
  }

  .about-me .btn {
    margin-top: 20px;
    margin-left: 70px;
  }

  .my-services {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 20px;
  }

  .my-services h2 {
    font-size: 30px;
    margin-left: 50px;
    margin-top: 100px;
  }

  .my-services h3 {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
  }

  .my-services p {
    font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
    width: 80%;
  }

  .my-services .btn {
    margin-top: 20px;
    margin-left: 50px;
  }

  .service-card {
    width: 90%;
    height: 25vh;
    display: inline-block;
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: #ffffff16;
    border-radius: 20px;
    margin-left: 40px;
  }

  .foot-container {
    width: 100%;
    height: 45vh;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: rgb(29, 29, 33);
    padding: 20px 0;
    margin-top: 20px;
    position: absolute;
  }
  

  .text-center{
    font-size: 30px;
    margin-left: 60px;
  }

  .foot-container span {
    color: #e80e27;
  }

  .contact-form{
    font-size: 20px;
    margin-left: 70px;
    margin-top: 20px;
    gap: 20px;
    display: inline-table;
  }

  .contact-form .row {
    display: flex;
    gap: 70px;
  }

  .contact-form h4{
    font-size: 20px;
    margin-left: 20px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    display: flex;
  }